body {
    background-image: url("/imagenes/caricatura.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .titulo {
        color: rgb(252, 94, 21);
        font-size: xx-large;
        text-align: center;
    }
}